



html {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




/* BODY BODY BODY BODY BODY BODY BODY BODY BODY BODY */

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    min-width: 100vh;
    /* font-family: andale mono, monospace; */
    font-family: didot, monospace;
    background-color: #EBEBEB;
}


/* HEADER HEADER HEADER HEADER HEADER HEADER */

header {

    background-color: #EEF6FC;
    padding: 1rem;
    /* display: flex;
    flex-direction: row; */
    /* gap: 2rem; */
    height: 100px;
    
}


nav {

    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    
}



nav ul {

    display: flex;
    flex-direction: row;
    list-style: none;

    margin-top: -0.7%;
    gap: 2rem;
    

}

.nav-item {

    text-decoration: none;
    color: #0B2D41;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 0.3rem;

    transition: 400ms;

}

a:hover {

    text-decoration: line-through;
    /* transition: 1s; */
    cursor: pointer;

}


.logo {

    background-image: url(../Images/rsz_m.jpg);
    background-color: #EEF6FC ;
    background-blend-mode: multiply;
    background-size: cover;

    height: 100px;
    width: 100px;

    
    top: 5px;
    left: 40px;

    position: relative;

}


.logo:hover {

    cursor: pointer;

}


/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN*/


/* QUOTE QUOTE QUOTE */

#aboutQuote {

    background-color: #EBEBEB;
    height: 60vh;

}

.quoteContainer {

    position: fixed;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    
    padding: 1rem;
    top: 30vh;

}

.quoteText, .quoteName, .quoteSubName {

    text-align: center;
    color: #0B2D41;

}

.quoteText {

    font-size: 2rem;
    font-family: American Typewriter, serif;
    font-style: italic;

}

.quoteName {

    font-size: 1.5rem;

}

.quoteSubName {

    font-size: 1.3rem;
    font-style: italic;
    margin: 0;
}






/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

footer {

    background-color: #EEF6FC;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    padding-bottom: 0;
    justify-content: center;
    

}


.footerContainer {

    display: flex;
    flex-direction: row;

    
    gap: 30vw;

}


.footerList-item {

    font-size: 1.5rem;
    color: #0B2D41;

    text-decoration: none;


}


footer, ul {

    list-style: none;
    text-align: center;

}


.footerLabel {

    border-style: solid;
    border-width: 0.3rem;
    border-color: #0B2D41;
    text-align: center;
    padding: 0.5rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

}




